@model Proyecto_Avanzada.Entities.HospedajeEnt

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_General.cshtml";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

<div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-10 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ingresar nuevo hospedaje </h4>

                <br />

                @using (Html.BeginForm("RegistrarHospedaje", "Hospedaje", FormMethod.Post, new { @class = "forms-sample" }))
                {

                    <div class="row">

                        @Html.HiddenFor(x => x.ConsecutivoHospedaje)

                        <div class="form-group col-md-6">
                            <label>Nombre de hospedaje</label>
                            @Html.TextBoxFor(x => x.Nombre, new
                            {
                                @class = "form-control",
                           @required = true
                       })
                        </div>

                        <div class="form-group col-md-6">
                            <label>Provincia</label>
                            @Html.DropDownListFor(x => x.CodProvincia, ViewBag.ListaProvincias as List<SelectListItem>,
                               "Seleccione una opción", new
                                    {
                                        @class = "form-control",
                                   @required = true
                               })
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label>Precio</label>
                            @Html.TextBoxFor(x => x.Precio, new
                       {
                           @class = "form-control",
                           @required = true,
                           @onkeypress = "return isNumberKey(event);"

                       })
                        </div>
                        <div class="form-group col-md-6">
                            <label>Disponibilidad</label>
                            @Html.TextBoxFor(x => x.Disponibilidad, new { @class = "form-control", @readonly = "true", @value = "disponible", @placeholder = "Disponible" })
                        </div>

                    </div>
                    <br />

                    <input type="submit" class="btn btn-primary mr-2" value="Agregar Hospedaje">

                }
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        return !(charCode > 31 && (charCode < 48 || charCode > 57));
    }
</script>
<script>

    $(document).ready(function () {
        $('.forms-sample').submit(function (event) {
            event.preventDefault();
            var form = $(this);
            swal({
                title: "¿Estás seguro?",
                text: "El hospedaje se registrará",
                icon: "success",
                buttons: true,
                dangerMode: false,
            })
                .then(function (isConfirm) {
                    if (isConfirm) {
                        form.unbind('submit').submit();
                    }
                });
        });
    });
</script>