@model Proyecto_Avanzada.Entities.UsuarioEnt

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="wrapper">

    @using (Html.BeginForm("RegistrarUsuario", "Home", FormMethod.Post, new { @class="form signup" }))
    {
        <header>Signup</header>
        @Html.TextBoxFor(Model => Model.Nombre, new { @placeholder = "Nombre", @required = true })
        @Html.TextBoxFor(Model => Model.CorreoElectronico, new { @placeholder = "Correo Electrónico", @required = true })
        @Html.TextBoxFor(Model => Model.Apellidos, new { @placeholder = "Apellidos", @required = true })
        @Html.TextBoxFor(Model => Model.Contrasenna, new { @placeholder = "Contraseña", @type = "Password", @required = true })
        <input type="submit" value="Registrarse" />
     }


    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form login" }))
    {
        <header>Login</header>
        @Html.TextBoxFor(Model => Model.CorreoElectronico, new { @placeholder = "Correo Electrónico", @required = true })
        @Html.TextBoxFor(Model => Model.Contrasenna, new { @placeholder = "Contraseña", @type = "Password", @required = true })
        <a href="@Url.Action("RecuperarContrasenna", "Home")" class="text-primary">¿Olvidó su contraseña?</a>
        <input type="submit" value="Login" />
    }
</section>
