@model IEnumerable<Proyecto_Avanzada.Entities.HospedajeEnt>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_General.cshtml";
}



<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Hospedajes</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Inicio</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Hospedajes</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Booking Start -->
<form method="post">


    <div class="container-fluid booking mt-5 pb-5">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                                <div class="col-md-3">
                                    <div class="mb-3 mb-md-0">
                                        <select class="custom-select px-4" style="height: 47px;">
                                            <option selected>Destinos</option>
                                            <option value="1">San José</option>
                                            <option value="2">Alajuela </option>
                                            <option value="3">Cartago </option>
                                            <option value="4">Heredia </option>
                                            <option value="5">Guanacaste </option>
                                            <option value="6">Puntarenas </option>
                                            <option value="7">Limon </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mb-3 mb-md-0">
                                        <div class="date" id="date1" data-target-input="nearest">
                                            <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Fecha ingreso" data-target="#date1" data-toggle="datetimepicker" name="date1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mb-3 mb-md-0">
                                        <div class="date" id="date2" data-target-input="nearest">
                                            <input type="text" class="form-control p-4 datetimepicker-input" placeholder="Fecha salida" data-target="#date2" data-toggle="datetimepicker" name="date2" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Buscar</button>
                                </div>
                            </div>

                        </div>
                </div>

            </div>
        </div>
    </div>
</form>
<!-- Booking End -->
<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Hospedajes</h6>
            <h1>Hospedajes perfectos para tu estadia</h1>
        </div>
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="~/template/img/package-1.jpg" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>@item.NombreProvincia</small>
                            </div>
                            <a class="h5 text-decoration-none" href="" data-toggle="modal" data-target="#exampleModal"
                               data-id=@item.ConsecutivoHospedaje data-backdrop="static" data-keyboard="false">@item.Nombre</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0"> @string.Format("$" + "{0:#,##0.00}", @item.Precio)</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Packages End -->
<!-- Destination Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Encuentra tu próxima estancia </h6>
            <h1>Descubre un sitio nuevo</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-1.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">San José</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-2.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Cartago</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-3.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Heredia</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-4.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Guanacaste</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-5.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Limón</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-6.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Puntarenas</h5>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">

            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="destination-item position-relative overflow-hidden mb-2">
                    <img class="img-fluid" src="~/template/img/destination-7.jpg" alt="">
                    <a class="destination-overlay text-white text-decoration-none" href="">
                        <h5 class="text-white">Alajuela</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Reservar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.Fecha1 != null)
                {
                    <p>Fecha de entrada: @ViewBag.Fecha1.</p>
                    <p>Fecha de salida: @ViewBag.Fecha2.</p>

                    <p>Usted reservó una estadía de @ViewBag.Noches noches.</p>


                    <div class="modal-footer">
                        <button type="button" onclick="CambiarEstado();" class="btn btn-primary">Procesar</button>
                    </div>

                }
                else
                {
                    <p>INFORMACIÓN</p>
                    <p>No se han seleccionado fechas de ingreso y/o fecha de salida.</p>
                    <p>Favor seleccionar fechas validas para su reservación.</p>

                }


                <input type="hidden" id="idModalHidden">

            </div>

        </div>
    </div>
</div>

